%p
  This site is created by
  %span.boldspan<>
    &nbsp;Bardi Einarsson
  , a
  %span.boldspan
    computer programming polymath
  and Sun Certified Java Developer,
  who is looking for
  %span.boldspan<>
    &nbsp;work
  \.
%p
  %span.boldspan
    Contact
  him at
  %span.boldspan
    bardi_e(at)hotmail.com
  or +354 868 5781.
%p
  This site illustrates a method to rate football teams such that
  those ratings can be used to calculate mathematically consistent
  probabilities of game results between those football teams.
%p
  The method can be extended to rate multiple football leagues and to
  compare the strength of those leagues.
%p
  The method can be reversed to calculate ratings based on the odds
  quoted by bookmakers.
%p
  The method can be extended to rate many different types of competitions.
%p
  The method can be extended to be used as an analytical tool by bookmakers.
