%div
  %span.boldspan
    Probabilities
%div
  %table
    %tr
      %td
        Home
      %td
        Draw
      %td
        Away
      %td
        Game
      %td
        Time
    - list.each do |item|
      = item
