%p
  An
  %span.boldspan
    away rating
  is the rating of a team when playing away.
%p
  The
  %span.boldspan
    expectation
  of a team in a game is the probability of that team winning
  plus half the probability of that team drawing.
%p
  A
  %span.boldspan
    home rating
  is the rating of a team when playing at home.
%p
  %span.boldspan
    Home field advantage
  is the ratio of
  %span.boldspan
    home rating
  to
  %span.boldspan
    away rating
  for a given team. It is a calculated value assumed to be the
  same for all teams.
%p
  A
  %span.boldspan
    rating
  is a measure of the playing strength of a team. The rating is
  calculated from results and is proportional to the
  %span.boldspan
    expection
  of that team for any given game. Ratings are normalized such
  that a team with an
  %span.boldspan
    away rating
  of 1.0 has an average
  %span.boldspan
    expection
  of 50% when playing a home and
  away game against each of the teams in a competition.
