%span.links-heading
  Links in Site
%ul
  %li
    %a{ :href => "/games.html" }
      Upcoming Games&nbsp;
  %li
    %a{ :href => "/ratings.html" }
      Ratings
  %li
    %a{ :href => "/table.html" }
      Table
  %li
    %a{ :href => "/glossary.html" }
      Glossary
  %li
    %a{ :href => "/about.html" }
      About
  %li
    %a{ :href => "/technical.html" }
      Technical
%span.links-heading
  Links
%ul
  %li
    %a{ :href => "http://news.bbc.co.uk/sport2/hi/football/eng_prem/default.stm", :target => "_blank" }
      BBC Eng Prem
  %li
    %a{ :href => "http://www.oddschecker.com/football/english/premier-league", :target => "_blank" }
      Oddschecker

