%table
  %tr
    %td
    %td
    %td
    %td
    %td
    %td
    %td
    %td
      Home
    %td
    %td
    %td
    %td
    %td
      Away
    %td
    %td
    %td
    %td
  %tr
    %td.number
      Rating
    %td.number
      P
    %td.number
      Pts
    %td.number
      GD
    %td.number
      F
    %td.number
      A
    %td
      Team
    %td.number
      W
    %td.number
      D
    %td.number
      L
    %td.number
      F
    %td.number
      A
    %td.number
      W
    %td.number
      D
    %td.number
      L
    %td.number
      F
    %td.number
      A
  - list.each do |item|
    = item
