%span.links-heading
  Technical Links
%ul
  %li
    %a{ :href => "http://ubuntu.com", :target => "_blank" }
      Ubuntu GNU/Linux
  %li
    %a{ :href => "http://rack.github.io", :target => "_blank" }
      Rack
  %li
    %a{ :href => "https://phusionpassenger.com", :target => "_blank" }
      Passenger
  %li
    %a{ :href => "http://heroku.com", :target => "_blank" }
      Heroku
  %li
    %a{ :href => "http://git-scm.com", :target => "_blank" }
      Git
  %li
    %a{ :href => "http://postgresql.org", :target => "_blank" }
      PostgreSQL
  %li
    %a{ :href => "http://sqlite.org", :target => "_blank" }
      SQLite
  %li
    %a{ :href => "http://ruby-lang.org", :target => "_blank" }
      Ruby
  %li
    %a{ :href => "http://jruby.org", :target => "_blank" }
      JRuby
  %li
    %a{ :href => "http://rubygems.org", :target => "_blank" }
      RubyGems
  %li
    %a{ :href => "http://rubyonrails.org", :target => "_blank" }
      Ruby On Rails
  %li
    %a{ :href => "http://www.sinatrarb.com", :target => "_blank" }
      Sinatra
  %li
    %a{ :href => "http://haml.info", :target => "_blank" }
      Haml
  %li
    %a{ :href => "http://sass-lang.com", :target => "_blank" }
      Sass
