%span.links-heading
  Technical Links
%ul
  %li
    %a{ :href => "http://heroku.com", :target => "_blank" }
      Heroku
  %li
    %a{ :href => "http://git-scm.com", :target => "_blank" }
      Git
  %li
    %a{ :href => "http://www.postgresql.org", :target => "_blank" }
      PostgreSQL
  %li
    %a{ :href => "http://ruby-lang.org", :target => "_blank" }
      Ruby
  %li
    %a{ :href => "http://rubygems.org", :target => "_blank" }
      Ruby Gems
  %li
    %a{ :href => "http://rubyonrails.org", :target => "_blank" }
      Ruby On Rails
  %li
    %a{ :href => "http://rack.rubyforge.org", :target => "_blank" }
      Rack
  %li
    %a{ :href => "http://www.sinatrarb.com", :target => "_blank" }
      Sinatra
  %li
    %a{ :href => "http://haml-lang.com", :target => "_blank" }
      Haml
  %li
    %a{ :href => "http://sass-lang.com", :target => "_blank" }
      Sass

